* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --linear-1: linear-gradient(90deg, #ff42a5 13.13%, #ff42a5 87.94%);
  --linear-2: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  --dark-1: #3c354f;
  --dark-2: rgba(11, 2, 35, 0.1);
  --dark-3: #534c64;
  --dark-4: #0b0223;
  --dark-5: rgba(255, 255, 255, 0.6);
  --video-max-width: 275px;
}

body {
  font-family: "Work Sans", sans-serif;
}

header {
  /* max-width: 1340px;
  margin: 0 auto; */
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.logo {
  display: flex;
  gap: 1.2rem;
}
.logo img {
  width: 86.041px;
  height: 40px;
}
.logo-title {
  font-size: 2.5rem;
}
.logo-title::first-letter {
  color: #ff42a5;
}
.social-icons {
  display: flex;
  align-items: center;
  gap: 1.3rem;
  background-color: var(--dark-2);
  padding: 18px 24px;
  border-radius: 8px;
}
.yt {
  color: #f23131;
}
ul li {
  list-style: none;
}
ul li a,
.social-icons p {
  text-decoration: none;
  color: var(--dark-1);
  font-size: 1.2rem;
  font-weight: 500;
}
.menu {
  display: flex;
  gap: 2rem;
}
.navigation {
  display: flex;
  gap: 2rem;
  align-items: center;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 38px 0;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-image: url("../images/Group\ 14.png");
  background-repeat: no-repeat;
  background-position: left left;
}

.banner-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 148px 0;
}

.banner-title {
  color: var(--dark-4);
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
  white-space: nowrap;
}
.goat {
  background: var(--linear-2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 6rem;
  font-style: normal;
  font-weight: 800;

  margin-bottom: 1.5rem;
}
.icon {
  color: #ff42a5;
}
.info .item {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 1rem;
}
.item p {
  color: var(--dark-3);
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: lowercase;
}
.btn-primary,
.btn-secondary {
  padding: 21px 40px;
  background: var(--linear-1);
  border: none;
  border-radius: 3rem;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: uppercase;
}
.btn-secondary {
  background: #4ec5f7;
}
.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2.5rem;
}

.btn-primary,
.btn-secondary {
  white-space: nowrap;
}

.banner-right img {
  width: 70%;
}

.about-us {
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 13.13%,
    rgba(255, 66, 165, 0.03) 87.94%
  );
  margin-top: -12px;

  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 3rem; */
}
.about-left {
  width: 50%;
}
.about-left img {
  width: 90%;
  padding: 55px 0;
}
.about-right {
  width: 30%;
  text-align: right;
  padding: 95px 0;
}
.gradient-title {
  background: var(--linear-2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  font-weight: 700;
}
.funny-videos {
  margin-top: 100px;
  padding: 20px;
}
.funny-title,
.play-title {
  color: var(--dark-4);
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}

.play-title {
  text-align: right;
}

.about-desc,
.funny-paragraph,
.play-paragraph {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  color: var(--dark-3);
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 30px;
}

.funny-paragraph {
  margin-top: 1rem;
  text-align: center;
}

.play-paragraph {
  text-align: right;
  max-width: 353px;
}

.video p {
  color: var(--dark-3);
  font-size: 1rem;
  font-weight: 500;
  line-height: 30px;
}

.purpose,
.quote {
  color: var(--dark-3);
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 45px;
}

.quote {
  font-weight: 700;
  text-align: right;
}
.videos {
  display: grid;
  grid-template-columns: repeat(4, var(--video-max-width));
  place-content: center;
  gap: 1.5rem;
}

.video {
  position: relative;
  max-width: var(--video-max-width);
}

.overlay {
  background-color: rgba(0, 0, 0, 0.8);
  width: 275px;
  height: 321px;
  border: 4px solid #f948b2;
  border-radius: 16px;
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s;
}

.play-btn,
.watch-now {
  position: absolute;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  display: none;
}
.play-btn {
  font-size: 2rem;
}
.watch-now {
  top: 59%;
  font-size: 1.5rem;
  font-weight: bold;
  background: var(
    --Linear,
    linear-gradient(90deg, #ff42a5 13.13%, #ff42a5 87.94%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.video:hover .overlay {
  opacity: 1;
}

.video:hover .play-btn,
.watch-now {
  display: block;
}

.video img {
  border-radius: 16px;
  width: var(--video-max-width);
}
.play-instantly {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 265px;
}
.relative {
  position: relative;
}
.corner-img {
  max-width: 318px;
  height: 300px;
  position: absolute;
  left: -130px;
  bottom: -100px;
}

.play-img img {
  width: 80%;
}

.game-types {
  margin-top: 200px;
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 13.13%,
    rgba(255, 66, 165, 0.03) 87.94%
  );
  display: grid;
  grid-template-columns: repeat(5, 242px);
  gap: 1.5rem;
  place-content: center;
  padding: 120px 0;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 3px;
  gap: 1rem;
  text-align: center;
}
.game img {
  width: 35%;
}
.game h4 {
  font-size: 0.9rem;
  font-weight: 600;
}
.game:hover {
  border-radius: 50px;
  border: 1.5px solid var(--Linear, #ff42a5);
  background: #fff;
  cursor: pointer;
  background: var(
    --Linear,
    linear-gradient(90deg, #ff42a5 13.13%, #ff42a5 87.94%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer {
  padding: 130px 50px;
  background-color: var(--dark-4);
}
footer .logo {
  justify-content: center;
  margin-bottom: 3.5rem;
}
footer .logo-title {
  color: #fff;
}
footer .social-icons {
  justify-content: center;
  align-items: center;
  margin-top: 3.5rem;
  gap: 2.5rem;
  flex-wrap: wrap;
}
.ft {
  color: #fff;
  font-size: 2rem;
}
.footer-menu,
.footer-menu-small {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.5rem;
  flex-wrap: wrap;
}
.footer-menu-small {
  margin-top: 2.8rem;
}
.footer-menu li a {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
}

.footer-menu-small li a,
footer p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}
footer p {
  margin-top: 1.8rem;
}

/* For Mobile Devices */
@media screen and (max-width: 576px) {
  .navigation,
  nav {
    flex-direction: column;
  }
  .menu {
    margin-top: 1.5rem;
  }
  .banner {
    flex-direction: column;
  }
  .banner-right {
    width: 100%;
    text-align: center;
  }

  .about-us {
    flex-direction: column-reverse;
  }
  .about-left {
    width: 100%;
    padding: 0;
  }
  .about-right {
    width: 100%;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 0;
  }
  .quote {
    text-align: center;
  }

  .videos {
    grid-template-columns: repeat(1, var(--video-max-width));
  }

  .play-instantly {
    flex-direction: column;
    gap: 20px;
  }

  .play-title,
  .play-paragraph {
    text-align: center;
  }
  .relative {
    width: 100%;
    text-align: center;
  }
  .play-img {
    width: 100%;
    text-align: center;
  }
  .corner-img {
    max-width: 200px;
    height: 180px;
    object-fit: cover;
    left: 0;
    bottom: -100px;
  }
  .corner-img img {
    width: 150px;
    height: 100px;
    object-fit: cover;
  }

  .game-types {
    grid-template-columns: repeat(3, 130px);
    place-content: center;
    margin-top: 150px;
    gap: 0;
  }
  .game {
    text-align: center;
    gap: 0.2rem;
    padding: 5px 10px;
  }
  .game h4 {
    font-size: 0.5rem;
  }
}

/* For Medium Devices */
@media screen and (min-width: 577px) and (max-width: 922px) {
  nav {
    flex-direction: column;
  }
  .menu {
    align-items: center;
  }
  .navigation {
    margin-top: 1.5rem;
  }
  .banner {
    flex-direction: column;
  }
  .banner-right {
    width: 100%;
    text-align: center;
  }
  .about-us {
    flex-direction: column-reverse;
  }
  .about-left {
    width: 100%;
  }
  .about-right {
    width: 100%;
    text-align: center;
    padding: 4rem 2rem 0 2rem;
  }
  .quote {
    text-align: center;
  }
  .videos {
    grid-template-columns: repeat(2, var(--video-max-width));
  }
  .play-instantly {
    flex-direction: column;
    gap: 20px;
  }

  .play-title,
  .play-paragraph {
    text-align: center;
  }
  .relative {
    width: 100%;
    text-align: center;
  }
  .play-img img {
    width: 60%;
  }
  .play-img {
    text-align: center;
  }
  .corner-img {
    left: 40px;
    bottom: -80px;
  }

  .game-types {
    grid-template-columns: repeat(3, 150px);
    place-content: center;
    margin-top: 150px;
    gap: 1rem;
  }
  .game {
    justify-content: center;
    padding: 3px;
  }
  .game h4 {
    font-size: 0.5rem;
  }
}

/* For Larger Devices */
@media screen and (min-width: 923px) and (max-width: 1265px) {
  .videos {
    grid-template-columns: repeat(3, var(--video-max-width));
  }
  .play-instantly {
    flex-direction: column;
    gap: 20px;
  }

  .play-title,
  .play-paragraph {
    text-align: center;
  }
  .relative {
    width: 100%;
    text-align: center;
  }
  .play-img img {
    width: 50%;
  }
  .play-img {
    text-align: center;
  }
  .corner-img {
    left: 120px;
    bottom: -100px;
  }
  .game-types {
    grid-template-columns: repeat(4, 200px);
    place-content: center;
    margin-top: 150px;
    gap: 1rem;
  }
  .game {
    justify-content: center;
    /* gap: 0.2rem; */
    padding: 3px;
    text-align: center;
  }
  .game h4 {
    font-size: 0.7rem;
  }
  .game img {
    width: 30%;
  }
}
